<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <title>Your Cart - MongoMart</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% include "includes/nav.html" %}

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Cart</li>
            </ol>
        </div>
    </div>

    {% if updated %}
        <p class="bg-success" style="padding: 15px; font-size: 14px;">
            Your cart has been successfully updated.
        </p>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-default">
                    <tr>
												<th />
												<th>Product</th>
												<th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>

                {% for item in cart %}
                <tr>
                  <form
                     action=""
										 method="post">
										 	<td class="muted center_text col-md-1"><a href="/item/{{item.item._id}}"><img width="300" src="{{item.item.image}}"></a></td>
											<td class="col-md-6"><a href="/item/{{item.item._id}}">{{item.item.name}}</a></td>
											<td class="col-md-2">
													{{item.item.price|round(2,"floor")}}
											</td>
											<td class="col-md-2">
                                                {{item.qty}}
											</td>
											<td class="col-md-1">
													{{(item.item.price * item.qty)|round(2,"floor")}}
											</td>
                    </form>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="4" style="text-align: right"><strong>Estimate Total</strong></td>
                    <td><strong>{{total|round(2,"floor")}}</strong></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-12" style="text-align:right;">
					<button class="checkout-button" style="float: right" type="submit">Continue to Checkout</button>
        </div>
    </div>



</div>
<!-- /.container -->


{% include "includes/footer.html" %}

</body>

</html>
