{% extends "includes/layout.html" %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Cart</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if updated %}
        <p class="bg-success" style="padding: 15px; font-size: 14px;">
            Your cart has been successfully updated.
        </p>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th />
                        <th>Product</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>

                {% for item in cart %}
                <tr>
                <form
                    action=""
                                        method="post">
                                            <td class="muted center_text col-md-1"><a href="/item/{{item.item._id}}"><img width="300" src="{{item.item.image}}"></a></td>
                                            <td class="col-md-6"><a href="/item/{{item.item._id}}">{{item.item.name}}</a></td>
                                            <td class="col-md-2">
                                                    {{item.item.price|round(2,"floor")}}
                                            </td>
                                            <td class="col-md-2">
                                                {{item.quantity}}
                                            </td>
                                            <td class="col-md-1">
                                                    {{(item.item.price * item.quantity)|round(2,"floor")}}
                                            </td>
                    </form>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="4" style="text-align: right"><strong>Estimate Total</strong></td>
                    <td><strong>{{total|round(2,"floor")}}</strong></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-12" style="text-align:right;">
                    <button class="checkout-button" style="float: right" type="submit">Continue to Checkout</button>
        </div>
    </div>
{% endblock %}
